<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--The homepage activity that the user will start at-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--The new incident activity-->
        <activity
            android:name=".NewActivity">
        </activity>

        <!--The edi/delete incident activity-->
        <activity
            android:name=".EditDelete">
        </activity>

        <!--The activity that the lets a user edit an incident-->
        <activity
            android:name=".modify">
        </activity>

    </application>

</manifest>